<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <title>Page of posts</title>
</head>

<body>
  <h1>page posts</h1>

  <% posts.map(item=> { %>
    <article>
      <h1>
        <%= item.title %>
      </h1>
      <p>
        <%= item.body %>
      </p>
    </article>
    <% }) %>

</body>

</html>